<section class="bg-zinc-900 p-20 rounded-xl my- text-center">
    <h2 class="text-5xl font-bold my-5">About Us</h2>
    <p class="text-zinc-300">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima nulla deserunt blanditiis ad molestias corrupti, quibusdam nobis impedit nesciunt! Porro, voluptate consequuntur exercitationem similique culpa soluta quam quia pariatur! Repudiandae?</p>
</section>